.bg{
    background: no-repeat center center;
    &-cover{
        background-size: cover;
    }
    &-contain{
        background-size: contain;
    }
    &-logo{
        background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/DOYOGA-logo.png);
        
    }
    &-footer-link-logo{
        background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/DOYOGA.png);
    }
    &-banner{
        background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/photo-1612157777902-5382bc6e864b.jpeg);
        background-position: bottom center;
        height: 560px;
        @include media-breakpoint-up(md){
            height: 582px;
        }
    }
    &-teacher{
        background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/photo-1540206276207-3af25c08abc4.jpeg);
    }
}