.h-{
    &auto{
        height: auto;
    }
    &94{
        height: 94px;
    }
    &165{
        height: 165px;
    }
    &196{
        height: 196px;
    }
    &210{
        height: 210px;
    }
    &214{
        height: 214px;
    }
    &218{
        height: 218px;
    }
    
    &238{
        height: 238px;
    }
    &350{
        height: 350px;
    }
    &420{
        height: 420px;
    }
    
}

@include media-breakpoint-up(md){
    .h-md-{
        &117{
            height: 117px;
        }
        &150{
            height: 150px;
        }
        &210{
            height: 210px;
        }
        &252{
            height: 252px;
        }
        &266{
            height: 266px;
        }
        &323{
            height: 323px;
        }
        &341{
            height: 341px;
        }
        &418{
            height: 418px !important;
        }
    }
}

@include media-breakpoint-up(lg){
    .h-lg-{
        &207{
            height: 207px;
        }
        
        &350{
            height: 350px;
        }
        &420{
            height: 420px;
        }
        &444{
            height: 444px;
        }
        &445{
            height: 445px;
        }
        
    }
}

.mt-lg-40p{
    @include media-breakpoint-up(lg){
        margin-top: -40px;
    }
}