.card{
    &-img-top{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        @include media-breakpoint-up(md){
            border-top-right-radius: 0;
            border-bottom-left-radius: 16px;
        }
        @include media-breakpoint-up(lg){
            border-bottom-left-radius: 0;
            border-top-right-radius: 16px;
        }
    }
}


//index 師資carol tang客製
.card-carol{
    @include media-breakpoint-up(lg){
        margin-left: -80px; //65px+15px
        width: 115%;
    }
    

}